body {
    background-color: black;
    color: white;
    font-family: Oxygen Mono;
    margin-left: 20px;
    width: 75%;
  }
  
  h1 {
    color: white;
    font-family: "Oxygen Mono", monospace;
    margin-left: 0px;
    font-size: 24x;
    width: 80%;
  }

  .timer
  {
    color: white;
    font-family: "Oxygen Mono", monospace;
    margin-left: 20px;
    text-align: right;
    font-size: 32px;
    height: 64px;
    width: 20%;
    float: right;
    
  }

  .header  {
    background-color: black;
    color: white;
    font-family: Oxygen Mono;
    font-size: 14px;
    margin-left: 20px;
    width: 100%;
    position: sticky;
    float: left;
    top: 0;
  }

  .emphasize {
    color: rgb(255, 0, 0);
    font-family: Oxygen Mono;
    font-size: 16px;
    margin-left: 0px;
    width: 100%;
  }

  .command {
    color: rgb(255, 255, 255);
    font-family: Oxygen Mono;
    font-size: 16px;
    margin-left: 0px;
    width: 100%;
  }

  .inputlabel {
    color: rgb(255, 255, 255);
    font-family: Oxygen Mono;
    font-size: 16px;
    margin-left: 20px;
    width: 100%;
  }

  .divider {
    height: 20px;
    width: 100%;
    
  }
  .scroller {
    margin-left: 20px;
    overflow: auto;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    }
    
    .scroller .scroller-content .item {
      margin-left: 20px;
      height: 20px;
      transform: translateZ(0); /* fixes a bug in Safari iOS where the scroller doesn't update */
    }

  .outputtext {
    color: rgb(255, 255, 255);
    font-family: Oxygen Mono;
    font-size: 16px;
    margin-left: 20px;
		height:200px;
		width:100%;
		/* background-color:#CCC; */		
    overflow-y:auto;
		float:left;
		position:relative;
		margin-left:-5px;
  }

  input {
    background-color: black;
    color: lightgreen;
    font-family: Oxygen Mono;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #ccc;

    /* border: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid; */
    width: 50%;
    height: 30px;
    margin-left: 20px;
  }