body {
    background-color: black;
    color: white;
    font-family: Oxygen Mono;
  }
  
  h1 {
    color: white;
    margin-left: 10px;
    font-family: "Oxygen Mono", monospace;
    font-size: 24x;
  }

  .header  {
    background-color: black;
    color: white;
    font-family: Oxygen Mono;
    font-size: 14px;
    margin-left: 20px;
    width: 100%;
    position: sticky;
    top: 0;
  }

  .command {
    color: rgb(255, 255, 255);
    font-family: Oxygen Mono;
    font-size: 12px;
    margin-left: 20px;
    width: 100%;
    border: blue;
    border-style: solid;
    border-width: 2px;
  }

  .divider {
    height: 20px;
    width: 100%;
    
  }
  .scroller {
    overflow: auto;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    }
    
    .scroller .scroller-content .item {
      height: 20px;
      transform: translateZ(0); /* fixes a bug in Safari iOS where the scroller doesn't update */
    }

  .outputtext {
    color: rgb(255, 255, 255);
    font-family: Oxygen Mono;
    font-size: 16px;
    margin-left: 20px;
		height:200px;
		width:100%;
		/* background-color:#CCC; */		
    overflow-y:auto;
		float:left;
		position:relative;
		margin-left:-5px;
  }

  .input {
    background-color: black;
    color: lightgreen;
    font-family: Oxygen Mono;
    font-size: 16px;
    /* border: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid; */
    width: 50%;
    height: 24px;
    margin-left: 20px;
  }